@import "../calendar.css";

modal-module.calendar {
	--modal-bg: #0008;
	--month-bg: #091453;
	--header-fs: 110%;
	--header-transform: capitalize;
	--header-color: #fff;
	--dow-color: #fc0;
	--dow67-color: #f00;
	--day-color: #92b9ff;
	--day67-color: #f62;
	--cur-day-color: #ffb;
	--cur-day-decor-shadow: inset 0 0 2px 1px #ffb;
	--cur-day-decor-red: 5px;
	--cur-day-decor-left: 3px;
	--cur-day-decor-radius: 0;
	--h1-color: #fff;
	--h1-sw-color: #000;
	--h1-sw-shadow: 0 0 15px #ffc, 0 0 10px #ffc;
	--single-title-color: #626c8c;
	--single-header-color: #fff;
	--single-ctrl-hover-color: #fff;
	--single-cell-decor-color: #fc0;
	--single-cur-cell-bg: #112c5d;
	--single-cur-cell67-bg: #4b1c36;
	--single-cell-decor-bg: #005aff1f;
	--single-cell-decor2-color: #fff6;

	--crtl-right: 62px;
	--crtl-top: 16px;
	--ctrl-radius: 0;
	--view-bg: #050b2e;
	--view-padding: 10px 20px 20px;
	--view-sb-right: -15px;
	--view2-padding: 0 1px;
}
