@import "watch.css";

body>watch {
	width: 91px;
	height: 91px;
	background: url(../../images/$watch/watch-scarlett-dial.png) no-repeat;
}
body>watch>div {
	background: url(../../images/$watch/watch-scarlett-arrows.png) no-repeat;
	filter: drop-shadow(0 0 1px #fff);
}
body>watch.quartz>div:nth-child(3) {
	transition: transform .2s cubic-bezier(.4,2.08,.55,.44);
}
body>watch.zoom50,
body>watch.zoom60 {
	background-image: url(../../images/$watch/watch-scarlett-dial-55.png);
}
body>watch.zoom50>div,
body>watch.zoom60>div {
	background-image: url(../../images/$watch/watch-scarlett-arrows-55.png);
}
body>watch.zoom80 {
	background-image: url(../../images/$watch/watch-scarlett-dial-73.png);
}
body>watch.zoom110 {
	background-image: url(../../images/$watch/watch-scarlett-dial-100.png);
}
body>watch.zoom120,
body>watch.zoom130,
body>watch.zoom140,
body>watch.zoom150 {
	background-image: url(../../images/$watch/watch-scarlett-dial-137.png);
}
body>watch.zoom160,
body>watch.zoom170,
body>watch.zoom180,
body>watch.zoom190,
body>watch.zoom200 {
	background-image: url(../../images/$watch/watch-scarlett-dial-182.png);
}
body>watch.zoom110>div {
	background-image: url(../../images/$watch/watch-scarlett-arrows-100.png);
}
body>watch.zoom120>div,
body>watch.zoom130>div,
body>watch.zoom140>div,
body>watch.zoom150>div {
	background-image: url(../../images/$watch/watch-scarlett-arrows-137.png);
}
body>watch.zoom160>div,
body>watch.zoom170>div,
body>watch.zoom180>div,
body>watch.zoom190>div,
body>watch.zoom200>div {
	background-image: url(../../images/$watch/watch-scarlett-arrows-182.png);
}
