#app {
	--bg: var(--color0);
	--color: var(--color1);
	--color0: #0000a8;
	--color1: #57ffff;
	--color2: #00a8a8;
	--color3: #a8a8a8;
	--color4: #ffff57;
	--color5: #0000ff;
	--color6: #ff0000;
	--font-family: ModernDOS9x16;
	--font: 400 16px/16px var(--font-family);
	--sb-bg: url(data:image/gif;base64,R0lGODlhCAACAIABAACoqP///yH5BAEAAAEALAAAAAAIAAIAAAIFDIKHuVAAOw==);
	--sb-br: 0;
	--sb-box-shadow: none;
	--sb-thumb-bg: var(--color1) url(data:image/gif;base64,R0lGODlhCAAEAIABAAAAAP///yH5BAEAAAEALAAAAAAIAAQAAAIIRICHy6vWVgEAOw==);
	--sb-thumb-br: 0;
	--sb-thumb-border: 0;
	--sb-thumb-hover-bg: var(--sb-thumb-bg);
	--title-bg: var(--color2);
	--title-color: #fff;
	--title-font: 400 19px/25px ModernDOS9x16;
	--title-bb: 0;
	--title-text-shadow: none;
	--fn-bg: var(--color3);
	--fn-color: #000;
	--fn-font: var(--font);
	--tools-btn-bc: #fff #000 #000 #fff;
	--tools-btn-active-bc: #000 #fff #fff #000;
	--cursor-width: 3px;
	--cursor-color: #f00;
	--cursor-block-color: #f00;
	--cursor-left-adj: 2px;
	--cursor-block-left-adj: 1px;
	--cursor-mix: color;
	--tools-btn1-cntrst: 0.5;
	--tools-btn2-cntrst: 0.5;
	--tools-btn1-checked-sh: 0 0;
	--dump-bg: var(--bg);
	--dump-color: var(--color1);
	--dump-br: 5px solid var(--color1);
	--dump-head-bg: var(--bg);
	--dump-head-color: var(--color3);
	--dump-head-dot-color: var(--color6);
	--dump-head-bb: 3px solid var(--color3);
	--dump-addr-colon-color: var(--color6);
	--dump-addr-color: var(--color3);
	--dump-code-hl-bg: var(--color5);
	--dump-code-hl-color: var(--color4);
	--dump-code-hl-outline: none;
	--dump-code-hl-text-shadow: none;
	--dump-offs-hl-bb: 3px solid var(--color4);
	--dump-offs-hl-text-shadow: none;
	--dump-addr-list-active-bg: var(--color2);
	--dump-addr-list-del-color: var(--color4);
	--dump-addr-list-del-fs: 13px;
	--dump-addr-list-del-hover-color: #fff;
	--dump-addr-list-assm-color: var(--color0);
	--dump-addr-list-assm-text-shadow: none;
	--dump-addr-list-assm-tab-size: 8;
	--dump-cursor-block-color: var(--color6);
	--dump-sel-bg: var(--color1);
	--dump-sel-color: var(--color0);
	--dump-mod-bg: var(--color2);
	--dump-code-found-bg: var(--color3);
	--dump-cur-addr-fw: 400;
	--dump-cur-addr-color: var(--color4);
	--dump-sidebar-width: 400px;
	--dump-cursor-left-adj: 1px;
	--dump-cursor-mix: none;
	--assm-blur-bg: #0006;
	--assm-bg: var(--bg);
	--assm-color: var(--color1);
	--assm-addr-color: var(--color3);
	--assm-addr-colon-color: var(--color6);
	--assm-code-color: var(--color4);
	--assm-line-sel-bg: var(--color2);
	--assm-line-hover-bg: var(--color5);
	--assm-label-top: 4px;
	--sidebar-bg: var(--color3);
	--sidebar-color: #fff;
	--sidebar-font: var(--font);
	--sidebar-padding: 5px;
	--sidebar-margin2: 0 0 5px;
	--sidebar-padding2: 0;
	--sidebar-border2: 0;
	--sidebar-fieldset-border: 1px solid #fff;
	--sidebar-fieldset-bw: 1px;
	--sidebar-fieldset-padding: 5px 1ch;
	--sidebar-fl-color: var(--color4);
	--sidebar-fl-fw: 400;
	--sidebar-input-bg: #000;
	--sidebar-input-color: #fff;
	--sidebar-input-border: 0;
	--sidebar-label-fs: 16px;
	--sidebar-label-padding: 4px 7px 1px;
	--sidebar-label-align: baseline;
	--sidebar-label-sw0-bg: linear-gradient(to left, #c00 10px, #f00);
	--sidebar-btn-bg: #fff;
	--sidebar-btn-color: var(--color3);
	--sidebar-btn-border: 0;
	--sidebar-btn-focus-bg: var(--color4);
	--sidebar-btn-focus-color: #000;
	--sidebar-btn-active-bg: var(--sidebar-btn-bg);
	--sidebar-btn-active-border: 0;
	--sidebar-btn-active-tr: translate(1ch, .5em);
	--sidebar-go-btn-bg: #76bad1;
	--sidebar-go-btn-color: #fffae5;
	--sidebar-go-btn-border: 0;
	--sidebar-go-btn-margin: 0 0 .5em;
	--sidebar-go-btn-active-bg: var(--color4);
	--sidebar-go-btn-active-color: #000;
	--dump-sidebar-assm-color: #fff;
	--dump-sidebar-assm-text-shadow: none;
	--dump-sidebar-code-color: var(--color4);
	--dump-sidebar-code-text-shadow: none;
	--dump-sidebar-label-fs: 85%;
	--dump-sidebar-label-color: var(--color0);
	--dump-sidebar-label-text-shadow: none;
	--dump-sidebar-input-ws: -.5ch;
	--dump-sidebar-list-maxheight: auto;
	--dump-sidebar-list-margin: 0 0 0 -1ch;
	--dump-sidebar-list-padding: 3px 1ch 1px;
	--dump-sidebar-list-lh: 1em;
	--dump-sidebar-reset-search-fs: 13px;
	--ref-color: #000;
	--ref-bg: var(--color3);
	--ref-border: 0;
	--ref-list-color: #00c;
	--ref-list-marker-color: var(--color5);
	--ref-shadow: 1px 1px 3px #0006;
	--menu-bg: var(--color2);
	--menu-color: #000;
	--menu-font: 400 16px/21px var(--font-family);
	--menu-bt: 0;
	--menu-vers-color: var(--color1);
	--menu-conf-color: var(--color3);
	--menu-ss-bg: #000;
	--menu-ss-color: var(--color3);
	--menu-decor1-ss: "";
	--menu-decor2-ss: none;
	--menu-decor1-ssa: "";
	--menu-decor2-ssa: "\a0";
	--menu-sa-padding: 0 0 0 1px;
	--conf-bg: var(--color2);
	--conf-color: #fff;
	--conf-font: var(--font);
	--conf-border: 5px solid #fff;
	--conf-a-color: var(--color1);
	--conf-fieldset-border: 1px solid var(--color1);
	--conf-hr-bt: 1px solid #6666;
	--conf-hr-bb: 1px solid #fff6;
	--status-font: var(--font);
	--status-padding: 3px 20px;
	--input-bg: transparent;
	--input-focus-bg: #000;
	--input-focus-color: #fff;
	--input-height: auto;
	--input-padding: 2px 3px 0;
	--input-border: solid #fff;
	--input-bw: 0 0 1px;
	--input-focus-outline: none;
	--inp-sprite-width: 31px;
	--inp-sprite-height: 13px;
	--inp-sprite-focus: 1;
	--checkbox-sprite: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAnCAMAAABgxgslAAAAM1BMVEUAAAD//////1f//////1f//////1f//////1f//////1f//////1f//////1f//////1eNfu2FAAAAD3RSTlMAQEDAwDAw8PDQ0KCgEBCv5BjRAAAAl0lEQVRIx+3T2wrAIAgAUEtr98v/f+2KaCLWU4wxlk9lO4xSAcwRw4AIztozhpWnnI0fDogOZDjEIfORyIMMTzTeHKEUmDkVj6nzn/OGrmvr+T4ynX+T95F5uXBhkVSZh0VST/HJbGaq89nudi5xBnGnOAPeae6WUOvF1bhfQ61XD81/b7+7Hhl+ed118uX1yAiue15wzl6sGiESs11RbQAAAABJRU5ErkJggg==);
	--radio-sprite: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAnBAMAAAClNuYkAAAAJ1BMVEUAAAD//////1f//////1f//////1f//////1f//////1f//////1eh2zURAAAAC3RSTlMAQEDAwICAMDAQEEvowaoAAACLSURBVDjLY2Bg3S3AAAXSW4FEziEYl+lMApAM3lwAEyjeHMDA5uMB43L4uDEwTNy9gQEOdm+cpXMGweU5o8UgvZkBAZh3C51xQOL7HBry8gT8Tyj8CIX/aPyMxg8x/hcUQJFnUkKTB9oCk4eYjCofvXt3AJI825kzxyiXJ2w/In4EBVD8z6REpfgBAHWTtUhdyxF7AAAAAElFTkSuQmCC);
}
#app>app-disassm {
	font-family: ModernDOS9x16 !important;
	line-height: calc(var(--fs) * 1px);
}
#app :is(textarea, select, input) {
	font: var(--font);
}
#app form.sidebar input.btn {
	--input-width: calc(100% - 1ch);
	line-height: 1;
	box-shadow: 1ch .5em #000;
}
#app form.sidebar input.btn:active {
	box-shadow: none;
}
#app form#sidebar input[type="radio"]+label::before,
#app form#sidebar input[type="checkbox"]+label::before {
	filter: hue-rotate(166deg) saturate(.5);
}
#app>app-menu>span:not(:empty):nth-of-type(n+3):nth-child(-n+8) {
	--menu-div: "\a0";
	--menu-div-bg: #000;
	--menu-div-padding: 0;
}
#app>app-menu>span.conf>a>svg {
	padding-left: 1ch;
}
#app>app-conf label {
	gap: 1ch;
}
#app>app-conf b {
	font-weight: 400;
}
#app>app-conf>h3 {
	font: 400 19px/23px ModernDOS9x16;
}
#app>app-conf>div#text_font {
	opacity: .5;
	pointer-events: none;
}
#app>app-conf input#mix_color {
	height: 2em;
	border: 0;
}
#app>app-filename::after {
	font-size: 110%;
	vertical-align: -webkit-baseline-middle;
}
