#app {
	--main-color: #08c;
	--title-color: #fff6cc;
	--title-bg: linear-gradient(#47a2f7 0%, #4791e5 10%, #407cd0 25%, #3a7ada 37%, #357be3 50%, #256dd1 51%, #40a3ea 83%, #49d0f9 100%);
	--h1-color: #1976d2;
	--h1-bg: #004aff1c;
	--menu-color: #fff6cc;
	--menu-bg: #2161b5;
	--menu-a-color: #9cf;
	--menu-vers-color: #fa9;
	--menu-conf-color: #9ff;
	--conf-color: #fff;
	--conf-bg: #557aaa;
	--conf-border: 5px solid #fff;
	--conf-a-color: #b3e5ff;
	background-size: 100% 3px;
}
