popup-menu {
	contain: paint;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 13;
	box-shadow: 0 0 10px #000b;
	cursor: inherit;
}
popup-menu>table {
	position: relative;
	z-index: 2;
	transform: translateX(calc(var(--left) * -1px));
}
popup-menu>table:not(.scroll) {
	transition: transform 1s cubic-bezier(0,0,.2,1.2);
}
popup-menu>table td {
	font: 400 120%/1.6 arial;
	white-space: nowrap;
	color: #fff;
	background: #778;
	border-right: 1px solid #667;
	border-left: 1px solid #889;
	padding: 4px 5px;
}
popup-menu>table td.sel {
	color: #333;
	background: #99a linear-gradient(#9f9fb5 0%, #9b9aac 10%, #8f8d9f 25%, #928fa1 37%, #9390a4 50%, #868498 50%, #9799ad 83%, #a0a6b6 100%);
}
popup-menu td.timer {
	font-weight: 700;
	text-shadow: -1px -1px 0px #0001;
}
popup-menu td.clock {
	color: #4cff70;
}
popup-sub-menu {
	contain: paint;
	display: block;
	position: absolute;
	z-index: 12;
	left: -1000px;
	white-space: nowrap;
	background: #dcd;
	border: 1px solid #609;
	width: 230px;
	overflow: auto;
	box-shadow: 2px 2px 5px 1px #000b;
}
popup-sub-menu>item {
	display: block;
	font: 400 110%/2 verdana;
	color: #609;
	border-left: 5px ridge #609;
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
popup-sub-menu>item[data-menu]:hover {
	color: #fff;
	background: #99a;
	border-left: 5px ridge #80c;
	text-shadow: 0px -1px 0px #0004;
	box-shadow: 1px 1px 3px #0008;
}
popup-sub-menu>item[sub="1"]:before {
	content: "\27a7";
	color: #fff;
	float: right;
}
popup-sub-menu>item:not([data-menu]) {
	color: #99a;
	text-shadow: 0 -1px 0 #0003;
}
popup-sub-menu>div.hr {
	display: block;
	border-left: 5px ridge #609;
	padding: 2px 4px;
}
popup-sub-menu>div.hr::after {
	content: "";
	display: block;
	border-top: 1px solid #609;
	border-bottom: 1px solid #a0f;
	margin: 4px -3px 3px;
}
popup-sub-menu>div.copy {
	color: #00f;
	background: #f5f5f5;
	padding: 5px;
	line-height: 1.5
}
popup-sub-menu>div.copy>hr {
	border-top: 1px solid #609;
	border-bottom: 1px solid #a0f;
	height: 0;
	margin: 5px -5px;
}
popup-menu>menu-line {
	display: block;
	position: relative;
	z-index: 1;
	background: linear-gradient(#f90, #cb8010 20%, #f90 80%);
	height: 4px;
	transition: all 0.3s;
}
popup-menu.shown>menu-line {
	height: 2px;
}
popup-menu>menu-line::after {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23fff'><rect y='2' width='32' height='4'/><rect y='14' width='32' height='4'/><rect y='26' width='32' height='4'/></svg>");
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	padding: 5px 7px;
	background: #e98e06;
	overflow: hidden;
	transition: all 0.3s;
}
popup-menu.shown>menu-line::after {
	height: 0;
	padding: 0 7px;
}
.app-chat.to-top popup-menu>menu-line::after {
	top: 0;
}
.app-chat.to-bottom popup-menu>menu-line::after {
	bottom: 0;
}
popup-sub-menu>table.game-score td {
	color: #fc0;
	font: italic 100% arial;
	border-right: 1px solid #556;
	padding: 2px 7px;
}
popup-sub-menu>table.game-score td:last-child {
	border: none;
}
popup-sub-menu>table.game-score tr.t td {
	border-top: 2px groove #999;
}
popup-sub-menu>table.game-score th {
	color: #ffa319;
	font-weight: 700;
}
popup-sub-menu>table.game-score td.date {
	color: #4cff4c;
}
popup-sub-menu>table.game-score td.nick {
	color: #fff;
	font: 700 100% arial;
}
chat-body.blink popup-menu>menu-line {
	animation: blink-line 1s linear infinite;
}
chat-body.blink popup-menu>table td.blink {
	animation: blink-td 1s linear infinite;
}
chat-body.blink popup-sub-menu>item.blink {
	animation: blink-item 1s linear infinite;
}
.app-chat.win2 popup-menu {
	display: none;
}

@keyframes blink-line {
	10%, 50% {
		background: #cc0;
		border-top-color: #ff0;
		border-bottom-color: #990;
	}
	60%, 100%, 0% {
		background: #c00;
		border-top-color: #f00;
		border-bottom-color: #900;
	}
}
@keyframes blink-td {
	10%, 50% {
		color: #0f0;
	}
	60%, 100%, 0% {
		color: #f00;
	}
}
@keyframes blink-item {
	10%, 50% {
		color: #0f0;
		background: #0f04;
	}
	60%, 100%, 0% {
		color: #f00;
		background: #f004;
	}
}
