@import "../emoji.css";

.app-chat {
	--emoji-mess-shadow: 1px 1px 1px #fff3;
	--emoji-mess-fs: 1.4rem;
}
.app-chat chat-emoji {
	--color: #cdf;
	--bg: #000;
	--tit-font: 600 .75rem/1.6 verdana;
	--tit-bg: #000000f2;
	--nav-icon-size: 18px;
	--nav-btn-height: 30px;
	--nav-btn-padding: 4px 2px 2px;
	--nav-btn-color: #fff;
	--nav-btn-hover-color: #999;
	--nav-btn-sel-color: #a0f;
	--nav-bb: 1px solid #616b7f;
	--footer-bt: 1px solid #616b7f;
	--footer-height: 60px;
	--preview-padding: 0 6px;
	--preview-annot-fs: .75em;
	--preview-code-color: #fff;
	--sec-padding: 0 6px;
	--em-fs: 1.1rem;
	--em-padding: 2px;
	--em-hover-bg: #666;
	--search-fs: 14px;
	--search-bg: #111;
	--search-focus-bg: #2f2f2f;
	--search-border: 1px solid #444;
	--search-br: 5px;
	--search-ph-color: #666;
	--no-found-font: icon;
	--no-found-color: #ff8;
	--sb-thumb-bg: #fff6;
}
