.history chat-chat>div.wait {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	font: bold 20px verdana;
	text-align: center;
}
.history chat-chat>div.sel {
	background: linear-gradient(#433, #322);
}
.history chat-chat>div.hidden {
	background: linear-gradient(#622, #511);
}
.history form.menu {
	display: grid;
	grid: 1fr 1fr/1fr 1fr;
	height: auto;
	background: linear-gradient(#284d93 0%, #051165 65%, #274c92 100%);
	color: #fc3;
	font: normal 10pt verdana;
	border: 1px solid #fc3;
	text-shadow: -1px -1px #000;
	user-select: none;
}
.history form.menu>div {
	line-height: 1.6;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
}
.history form.menu>div>div {
	display: inline-block;
}
.history form.menu>div:nth-child(1) {
	order: 1;
	border-right: 1px solid #071367;
	border-bottom: 1px solid #040931;
}
.history form.menu>div:nth-child(2) {
	order: 3;
	border-right: 1px solid #071367;
	border-top: 1px solid #2a5196;
}
.history form.menu>div:nth-child(3) {
	order: 2;
	border-left: 1px solid #2a5196;
	border-bottom: 1px solid #040931;
	display: flex;
	align-items: center;
}
.history form.menu>div:nth-child(4) {
	order: 4;
	border-left: 1px solid #2a5196;
	border-top: 1px solid #2a5196;
	display: flex;
	justify-content: space-between;
}
.history form.menu div.day {
	font-size: 0;
}
.history form.menu select.inp {
	font: normal 400 14px sans-serif;
	height: 22px;
	width: initial;
}
.history form.menu .btn[name="show"] {
	font-size: 134%;
	line-height: 0;
	height: 22px;
	padding: 0 10px;
}
.history form.menu .btn[name="hide"] {
	visibility: hidden;
}
.history form.menu.hide .btn[name="hide"] {
	visibility: visible;
}
.history.moder chat-chat>div.ph {
	margin-left: 19px;
}
.history.moder chat-chat>div.ph>div.check {
	display: inline-block;
	margin-left: -19px;
}
.history.moder chat-chat>div.ph>div.check+div[class^="s"] {
	display: inline-block;
}
.history.moder form.menu>div.left {
	grid-row: 1/3;
}
