#app {
	--border: solid #ddd;
	--border-width: 1px 1px 0;
	--sb-thumb-bg: #569bb1;
	--sb-thumb-hover-bg: #77bbd2;
	--title-bg: linear-gradient(#6a99c5 0%, #618bbc 10%, #5379ae 25%, #5276ad 37%, #5276ad 50%, #42689d 51%, #6499bf 83%, #79bfd4 100%);
	--title-color: #fff6cc;
	--fn-bg: #76bad1;
	--fn-color: #fff;
	--tools-btn1-hue: 186deg;
	--tools-btn1-sat: 1;
	--tools-btn1-cntrst: 1;
	--tools-btn1-brght: 1.5;
	--tools-btn1-checked-hue: 60deg;
	--tools-btn1-checked-sat: 1;
	--tools-btn1-checked-cntrst: .8;
	--tools-btn1-checked-brght: 4;
	--tools-btn1-checked-sh: 0 0 2px #ff69;
	--tools-btn2-hue: 60deg;
	--tools-btn2-sat: 1;
	--tools-btn2-cntrst: .8;
	--tools-btn2-brght: 8;
	--tools-btn2-checked-hue: 240deg;
	--tools-btn2-checked-sat: 1;
	--tools-btn2-checked-cntrst: .8;
	--tools-btn2-checked-brght: 8;
	--cursor-color: #f00;
	--cursor-block-color: #f60;
	--dump-bg: linear-gradient(#fffae5, #f7f2dd) 0/100% 3px;
	--dump-color: #000;
	--dump-text-color: #8c751d;
	--dump-br: 5px solid #ddd;
	--dump-head-bg: var(--dump-bg);
	--dump-head-dot-color: #f00;
	--dump-head-bb: 3px solid #ece4c6;
	--dump-code-hl-bg: #cf07;
	--dump-code-hl-outline: none;
	--dump-offs-hl-bb: 3px solid #76bad1;
	--dump-addr-list-active-bg: #5276ad;
	--dump-addr-list-assm-color: #43699e;
	--dump-mod-bg: #faeaa6;
	--assm-bg: #fffe;
	--sidebar-bg: #f2e9d9;
	--sidebar-color: #8c631d;
	--sidebar-fieldset-border: 1px solid #d4b47d;
	--sidebar-fl-color: #409fbf;
	--sidebar-input-color: #2161b5;
	--sidebar-label-sw0-bg: linear-gradient(to left, #c00 10px, #f00);
	--sidebar-go-btn-bg: #76bad1;
	--sidebar-go-btn-color: #fffae5;
	--sidebar-go-btn-border: 1px outset #76bad1;
	--sidebar-go-btn-active-bg: #bfa640;
	--sidebar-go-btn-active-border: 1px inset #bfa640;
	--popup-nav-title-bg: #76bad1;
	--tools-btn-border: 1px solid;
	--tools-btn-bc: #8fd7ef #409fbf #409fbf #8fd7ef;
	--tools-btn-active-bc: #409fbf #8fd7ef #8fd7ef #409fbf;
	--ref-bg: #e4e6e7;
	--ref-color: #000;
	--ref-border: 0;
	--ref-list-color: #00c;
	--ref-list-marker-color: #384770;
	--ref-shadow: 1px 1px 3px #0006;
	--menu-bg: #365d91;
	--menu-color: #fff6cc;
	--menu-sa-color: #9cf;
	--menu-vers-color: #fa9;
	--menu-conf-color: #9ff;
	--conf-bg: #557aaa;
	--conf-color: #fff;
	--conf-border: 5px solid #fff;
	--conf-a-color: #b3e5ff;
	--status-font: 600 16px verdana;
	--status-padding: 3px 20px;
}
#app form#sidebar input[type="radio"]+label::before,
#app form#sidebar input[type="checkbox"]+label::before {
	filter: hue-rotate(166deg) saturate(.5);
}
