@import "../emoji.css";

.app-chat {
	--emoji-mess-shadow: 1px 1px 1px #fff3;
}
.app-chat chat-emoji {
	--bg: #000;
	--color: #fff;
	--tit-bg: #000000f2;
	--em-hover-bg: #343a46;
	--nav-btn-color: #c90;
	--nav-btn-hover-color: #fd3;
	--nav-btn-sel-color: #fff;
	--nav-btn-sel-bc: #c00;
	--nav-bb: 1px solid #1365c8;
	--footer-bt: 1px solid #1365c8;
	--preview-code-color: #999;
	--search-bg: #111;
	--search-focus-bg: #2f2f2f;
	--search-border: 1px solid #444;
	--search-br: 5px;
	--search-ph-color: #666;
	--no-found-font: icon;
	--no-found-color: #f4b400;
	--sb-thumb-bg: #fff6;
}
