@import "../notebook.css?1";
@import "../scrollbar.css";

body.app-chat {
	--font: 400 .9rem verdana, var(--inp-font2-family, verdana);
	--bg: #fff;
	--color: #36f;
	--header-color: #858585;
	--header-bg: linear-gradient(#39f5, #fff);
	--header-text-shadow: none;
	--folder-border: 1px solid #bdf;
	--list-th-bg: linear-gradient(#91a2b4, #7e8d9d);
	--list-th-bt: 1px solid #dae3ed;
	--list-th-bb: 1px solid #6e7c8b;
	--list-color: #6e7c8b;
	--list-row-hover-bg: linear-gradient(#39f5, #fff);
	--list-bg: none;
	--mess-bg: none;
	--cursor: url(../images/0/cursor.cur);
	--btn-hover-border: 1px solid;
	--btn-hover-bc: #e6ecff #c1c6d6 #c1c6d6 #e6ecff;
	--btn-active-bc: #c1c6d6 #e6ecff #e6ecff #c1c6d6;
	--btn-active-padding: 1px 0 0 1px;
	--btn-light-bg: #ff06;
	--div-border: 1px solid;
	--div-bc: #aed1f4 #e5f3ff #e5f3ff #aed1f4;
	--inp-color: #669;
	--inp-bg: #fff;
	--inp-border: 1px solid #bdf;
	--inp-focus-color: #00f;
	--emoji-mess-fs: 1.6rem;
	--scrollbar-width: 10px;
}
body.app-chat chat-emoji {
	--tit-font: 600 1em/1.6 verdana;
	--tit-padding: 3px 5px 0;
	--sec-padding: 0 2px;
	--em-fs: 1.4rem;
	--em-padding: 4px;
	--preview-annot-fs: .8rem;
	--preview-code-fs: .8rem;
	--preview-padding: 0 8px;
	--search-fs: .9rem;
	--no-found-font: .8rem verdana;
}
scrollbar {
	--width: 10px;
	--bg: none;
	opacity: .7;
}
scrollbar>slider>div,
scrollbar>slider>div::before,
scrollbar>slider>div::after {
	background-image: linear-gradient(to right, #f60, #fca, #f60);
	background-repeat: repeat;
}
chat-emoji {
	border-left: 1px solid #bdf;
}
chat-emoji>nav {
	background: linear-gradient(#39f5 0, #fff 28px);
}
tr.admin>td:nth-child(1), td.admin {
	padding: 2px;
	color: #fc0;
	background: #cc2800;
}
tr.august>td:nth-child(1), td.august {
	padding: 2px;
	color: #00a3cc;
	background: #ff32d6;
}
tr.notice>td:nth-child(1), td.notice {
	padding: 2px;
	color: #00657f;
	background: #e5b800;
}
table.notebook.read div.view::after,
table.notebook.list div.view::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 8;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px #39f8;
	pointer-events: none;
}
table.notebook.write td.info {
	padding: 0 3px;
}
table.notebook.write td#friends_list {
	padding-left: 3px;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, #f608, #fca8, #f608);
}
::-webkit-scrollbar-button {
}
