#app>div.sheet {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	outline: none;
	font: var(--sheet-font, 500 14px verdana);
}
#app>div.sheet>div.tabs {
	background: #fff;
	border: 1px solid #e3f2fd;
	white-space: nowrap;
}
#app>div.sheet>div.tabs>a {
	display: inline-block;
	font-weight: 600;
	color: #1976d2;
	padding: 6px 10px;
	text-decoration: none;
	text-align: center;
	outline: none;
}
#app>div.sheet>div.tabs>a:focus {
	outline: 2px solid;
	outline-offset: -2px;
}
#app>div.sheet>div.tabs>a:hover {
	background: #e3f2fd4d;
}
#app>div.sheet>#N82S131N:target~.tabs>a[href="#N82S131N"],
#app>div.sheet>#N82S147N:target~.tabs>a[href="#N82S147N"],
#app>div.sheet>#N82S137N:target~.tabs>a[href="#N82S137N"] {
	background: #bbdefb;
}
#app>div.sheet>div:not(.tabs) {
	flex: 1 0 auto;
	display: none;
	background: var(--sheet-bg);
	padding: var(--sheet-padding, 0 20px 20px);
}
#app>div.sheet>div:target {
	display: block;
}

#app>div.sheet h1 {
	font: var(--h1-font, 600 18px/30px verdana);
	color: var(--h1-color);
	background: var(--h1-bg);
	margin: 0 -20px;
	text-align: center;
}
#app>div.sheet h3 {
	font: var(--h3-font, 600 15px/22px verdana);
	color: var(--h3-color);
	background: var(--h3-bg);
	margin: 5px -20px;
	text-align: center;
}
#app>div.sheet rom-cfg {
	display: table;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	color: var(--cfg-color, #00f);
	background: var(--cfg-bg, #fff9);
}
#app>div.sheet rom-cfg>div.row {
	display: table-row;
}
#app>div.sheet rom-cfg>span {
	display: table-cell;
	width: 5px;
	height: 100%;
	background: #bbb;
	border: 1px solid #999;
}
#app>div.sheet rom-cfg>div:not(.row),
#app>div.sheet rom-cfg>div.row>div {
	display: table-cell;
	width: 54px;
	font: 400 15px/25px verdana;
	border: 1px solid #999;
}
#app>div.sheet rom-cfg div[cap]::before {
	content: attr(cap);
	display: block;
	font: 600 15px/20px verdana;
	color: #fff;
	background: #bbb;
	border-bottom: 1px solid #999;
	padding: 2px;
	white-space: nowrap;
}
#app>div.sheet rom-cfg input,
#app>div.sheet rom-cfg select {
	--input-bg: transparent;
	--input-color: #00f;
	--input-height: 26px;
	--input-border: 0;
	text-align: center;
	appearance: none;
	user-select: none;
}
#app>div.sheet rom-cfg input:focus,
#app>div.sheet rom-cfg select:focus {
	outline: 1px solid;
}
#app>div.sheet div.n {
	color: #000;
}
#app>div.sheet rom-cfg>div.row.bottom~div.row {
	opacity: .2;
	background: #0003;
	pointer-events: none;
}
#app>div.sheet rom-cfg.wide>div,
#app>div.sheet rom-cfg.wide>div.row>div:nth-of-type(n+2) {
	width: 160px;
}
#app>div.sheet rom-cfg.wide2>div,
#app>div.sheet rom-cfg.wide2>div.row>div:nth-of-type(n+2) {
	width: 78px;
}
#app>div.sheet div.disk {
	width: 40px;
	height: 40px;
	border: 10px solid #fff;
	margin: 20px auto;
}
#app>div.sheet div.disk>img {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: transform .25s;
}
#app>div.sheet div.disk>img:hover {
	transform: scale(1.1);
}
#app>div.sheet rom-mngr {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: var(--cfg-bg, #fff9);
	padding: 7px 0;
	margin: 20px auto;
	gap: 5px;
}
#app>div.sheet rom-mngr select,
#app>div.sheet rom-mngr input {
	--input-bg: transparent;
	--input-color: #666;
	--input-width: auto;
	--input-height: 25px;
	--input-border: 1px solid #999;
}
#app>div.sheet rom-mngr select:focus,
#app>div.sheet rom-mngr input:focus {
	--input-color: #00f;
	outline: 1px solid;
	outline-offset: -1px;
}
#app>div.sheet rom-mngr input::placeholder {
	color: #ccc;
}
#app>div.sheet rom-mngr input.btn {
	width: 25px;
	padding: 2px;
	color: #090;
	background: no-repeat content-box;
}
#app>div.sheet rom-mngr input[type=button]:hover {
	outline: 2px solid;
	outline-offset: -2px;
}
#app>div.sheet rom-mngr input.btn:active {
	transform: translate(1px, 1px);
}
#app>div.sheet rom-mngr>input.add {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23090' viewBox='0 0 30 30'><path d='M13 0h4v30h-4z'/><path d='M0 13h30v4H0z'/></svg>");
}
#app>div.sheet rom-mngr>input.del {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23090' viewBox='0 0 30 30'><path d='M0 13h30v4H0z'/></svg>");
}
#app>div.sheet rom-mngr>input.copy {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23090' viewBox='0 0 30 30'><path d='M20.8,4.6V0H7.9C6,1.9,4.1,3.8,2.1,5.7v19.6h7V30h18.7V4.6H20.8z M7.9,1.7v4.1H3.8C5.2,4.4,6.6,3,7.9,1.7z M9.1,24.2H3.3V6.9h5.8V1.2h10.5v3.5H15c-1.9,1.9-3.9,3.9-5.8,5.8L9.1,24.2L9.1,24.2z M15,6.3v4.1h-4.2v0C12.2,9,13.6,7.6,15,6.3L15,6.3zM26.7,28.8H10.3V11.5h5.9V5.8h10.5V28.8z'/><polygon stroke-linejoin='bevel' stroke-width='1.2' stroke='%23fff' points='20.9,18.2 12.9,12.3 12.9,16.2 4.9,16.2 4.9,20.2 12.9,20.2 12.9,24.2'/></svg>");
}
#app>div.sheet rom-mngr>input.upload {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23090' viewBox='0 0 30 30'><path d='M30,30H0V19.3h4.5v6.2h20.9v-6.2H30V30z'/><path d='M10,9.4v11.2H20V9.4h4.4L15,0L5.6,9.4H10z'/></svg>");
}
#app>div.sheet rom-mngr>input.download {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23090' viewBox='0 0 30 30'><path d='M30,30H0V19.3h4.5v6.2h20.9v-6.2H30V30z'/><path d='M20,11.2V0L10,0v11.2H5.6l9.4,9.4l9.4-9.4H20z'/></svg>");
}
#app>div.sheet rom-mngr>div#copy {
	flex: 1 0 100%;
	text-align: center;
	height: 0;
	overflow: hidden;
	transition: height .3s;
}
#app>div.sheet rom-mngr>div#copy>input.ok {
	color: #00f;
}
#app>div.sheet rom-mngr.copy>input.add,
#app>div.sheet rom-mngr.copy>input.del,
#app>div.sheet rom-mngr.copy>input.upload,
#app>div.sheet rom-mngr.copy>input.download {
	filter: grayscale(1) opacity(.5);
	pointer-events: none;
}

@media (max-width: 500px) { body.mobile { font-size: .9rem; } }
@media (min-width: 500px) { body.mobile { font-size: 1rem; } }
@media (min-width: 640px) { body.mobile { font-size: 1.1rem; } }
@media (min-width: 960px) { body.mobile { font-size: 1.2rem; } }

