#app {
	--main-bg: #fff;
	--main-color: #ff632f;
	--bg: linear-gradient(#fff0, #ddd8) top/100% 3px, linear-gradient(#80d2ff, #b3e5ff);
	--sb-h-thumb-bg: #f60 linear-gradient(#ff9752, #f60 50%);
	--sb-v-thumb-bg: #f60 linear-gradient(to right, #ff9752, #f60 50%);
	--sb-thumb-border: none;
	--title-bg: linear-gradient(#ff9933 0%, #ff9f29 10%, #ffa31a 25%, #ffa71a 37%, #ffa91f 50%, #ff9900 51%, #ff751f 83%, #ff622e 100%);
	--title-color: #224d87;
	--title-text-shadow: 1px 1px 0 #fff6;
	--title-bb: 1px solid #006eff;
	--editor-border: 2px solid #cc3600;
	--fn-bg: #b3e5ff;
	--fn-color: #cc3600;
	--matrix-bg: #ffce80;
	--matrix-cur-shadow1: inset 0 0 0 1px #09f, inset 0 0 0 2px #ff0;
	--matrix-cur-shadow2: inset 0 0 0 1px #ff0, inset 0 0 0 2px #09f;
	--table-sel-bg: #ffce80;
	--table-code-color: #fff;
	--table-code-bg: #00f6;
	--table-cell-bc: #08a3f7;
	--table-cur-outline: none;
	--table-cur-bg: #e9b567;
	--table-cur-mix: hard-light;
	--table-cur-hover-mix: hard-light;
	--select-color: #bf6040;
	--option-bg: #eee;
	--optgroup-color: #0058cc;
	--menu-color: #ffdf52;
	--menu-bg: #f3632f;
	--menu-div-color: #80d2ff;
	--menu-email-color: #ffc;
	--menu-sa-color: #fff;
	--menu-vers-color: #ffc;
	--menu-conf-color: #ffc;
	--conf-color: #fff;
	--conf-bg: linear-gradient(to right, #ff8000, #efbf8f);
	--conf-a-color: #0054a8;
	--conf-border: 5px solid #fff;
	--conf-hr-bt: 1px solid #e4944444;
	--conf-hr-bb: 1px solid #ffd9b344;
	--conf-fieldset-border: 1px solid #ffbf80;
	--status-border: 0;
	--status-error-border: 0;
}
