@import "../mps0.css";
@import "../mps-gb.css";
@import "../ctrl-btns.css";
@import url('https://fonts.googleapis.com/css?family=Oswald&subset=cyrillic');

.app-mps {
	--body-padding: 35px 5vw;
	--body-h1-font: 700 180% georgia;
	--body-h1-color: #fc0;
	--body-h1-margin: 0 0 25px;
	--top-menu-bg: linear-gradient(#003f7f 0%, #007dbd 100%);
	--top-menu-color: #fff;
	--top-menu-padding: 2px 20px;
	--top-menu-box-shadow: 0 2px 2px #007dbd, 0 5px 5px #000;
	--top-menu-a-color: #65c1ff;
	--text-bg: linear-gradient(#004f8f 0, #004f8f 1px, #003f7f 1px) top/100% 2px;
	--text-link-color: #fff;
	--info-fs: 80%;
	--info-lh: 1.2em;
	--info-color: #9ba7b4;
	--info-padding: 5px 5vw 25px;
	--info-height: 81px;
	--info-span-color: #7b8794;
	--nav-bg: #464d52;
	--nav-color: #c6c7b3;
	--nav-padding: 0 20px;
	--nav-bt: 1px solid #5b646b;
	--nav-box-shadow: 0 -2px 20px #000a;
	--nav-ul-br: 1px solid #5b646b;
	--nav-ul-bl: 1px solid #353a3e;
	--nav-li-cur-bg: #9998;
	--nav-li-cur-color: #464d52;
	--nav-a-color: #c9b669;
	--nav-a-hover-color: #464d52;
	--nav-a-hover-bg: #c9b669;
	--nav-a-moder-padding: var(--nav-a-padding);
	--pen-top: 30px;
	--pen-bottom: auto;
	--form-bg: #004787 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAT48AP39SmparAAAADklEQVQI12MAgv//iScBZtcP8Vs0gpAAAAAASUVORK5CYII=);
	--form-color: #fff;
	--form-border: 1px solid #009fcf;
	--form-padding: 0 0 7px;
	--form-cell-padding: 0 5vw;
	--form-preview-padding: 0 0 20px;
	--form-div-pad: 5px 15px 0;
	--form-hdr-bg: linear-gradient(#003f7f 0, #007fbf 50%, #003f7f 100%);
	--form-hdr-color: #ffea99;
	--form-hdr-border: solid #009fcf;
	--form-hdr-bw: 0 0 1px;
	--form-hdr-lh: 32px;
	--form-hdr-text-shadow: -1px -1px 1px #0004;
	--form-inp-bgc: #002767;
	--form-inp-color: #b2b2b2;
	--form-inp-bc: #0067a7;
	--form-inp-focus-bgc: #00003f;
	--form-inp-focus-color: #fff;
	--form-inp-focus-bc: #009fcf;
	--form-btn-bg: #0003;
	--form-btn-color: #009fcf;
	--form-btn-lh: 24px;
	--form-btn-box-shadow: inset 5px 0 20px -10px #000, inset -5px 0 20px -10px #000;
	--form-btn-hover-bg: transparent;
	--form-btn-hover-color: #fff;
	--form-sel-bg: #006f9f;
	--form-sel-color: #e7e8e9;
	--form-sel-bc: #009fcf;
	--form-sel-focus-bc: #30cfff;
	--form-bb-btn-hover-bg: #009fcf;
	--form-count-color: #7a7f84;
	--form-trans-color: #7a7f84;
	--form-trans-border: 1px solid #0067a7;
	--form-trans-trans-bg: #0099001a;
	--form-trans-trans-color: #fff;
	--form-trans-trans-border: 1px solid #fff;
	--form-moder-h4-color: #fc0;
	--form-moder-h4-border: solid #002767;
	--form-moder-h4-bw: 2px 0 0;

	--sb-bg: #007dbd;
	--sb-size: 14px;
	--sb-track-bg: var(--sb-bg);
	--sb-track-br: 7px;
	--sb-track-box-shadow: inset 0 0 6px #000;
	--sb-thumb-bg: var(--sb-bg);
	--sb-thumb-border: 2px solid #fc0;
	--sb-thumb-br: 7px;
	--sb2-bg: var(--sb-bg);
	--sb2-size: 10px;
	--sb2-track-bg: var(--sb-bg);
	--sb2-track-br: 5px;
	--sb2-track-box-shadow: inset 0 0 5px #000;
	--sb2-thumb-bg: #fc0;
	--sb2-thumb-br: 5px;
	--sb2-thumb-box-shadow: inset 0 0 5px 2px #000c;

	--loader-bgc: #49acef91;

	background: url(data:image/gif;base64,R0lGODlhDAAMAIAAABkZGVJMTCH5BAAAAAAALAAAAAAMAAwAAAIXDG54C9mbnFT02eugppNv211fF0bjUQAAOw==);
}
mps-text>div:nth-child(odd) {
	border: 1px solid #009fcf;
}
mps-text>div:nth-child(even):not(:last-child) {
	height: 7px;
	border-left: 1px solid #009fcf;
	border-right:  1px solid #009fcf;
}
mps-text>div>div:first-child {
	background: linear-gradient(#003f7f, #007dbd);
	border-bottom: 1px solid #009fcf;
}
mps-text>div>div:first-child>div {
	padding: 0 6px;
	line-height: 250%;
}
mps-text div.gbdate {
	color: #30cfff;
}
mps-text div.gbnum {
	color: #fff;
	padding: 6px;
}
mps-text div.gbnum>a.num {
	color: #30cfff;
}
mps-text>div>div>div.gbuser>mps-name {
	background: linear-gradient(to right,#0004,#0000,#0004);
}
mps-text div.gbuser .name {
	color: #ffe0b2;
}
mps-text div.gbmess {
	background: #006faf;
	border-left: 1px solid #009fcf;
}
mps-text div.gbmess *::selection {
	background: #ffb700;
}
mps-text>div:nth-child(4n+3) div.gbmess {
	background: #005f9f;
}
mps-text mps-mess {
	color: #fff;
}
mps-text mps-mess>a.open {
	color: #fa0;
}
mps-text mps-mess>a.open:hover {
	color: #39f;
}
mps-text mps-mess span.mat,
mps-text mps-mess span.censor {
	background: #776faf;
}
mps-text div.edit {
	font-size: 75%;
	color: #10abda;
	border-top: 1px solid #2e7cb1;
	margin: 15px 0 0;
	padding: 5px 15px;
	text-align: right;
}
mps-text div.edit .name {
	color: #ffe0b2;
}
mps-text mps-quote-header {
	font-weight: 700;
	color: #f90;
}
mps-text mps-quote-header>span {
	font-weight: 400;
	color: #fff;
}
mps-text mps-quote>mps-quote>div {
	border-left: 3px #009fcf solid;
}
mps-text mps-quote.collapse>mps-quote {
	border-top: 1px #009fcf solid;
}
mps-text mps-quote>mps-quote>div::before,
mps-text mps-quote>mps-quote>div::after {
	color: #00c4ff;
}
mps-text mps-clps-btn::before {
	color: #009fcf;
}
mps-text .collapse mps-clps-btn::before {
	text-shadow: 0 -1px 0 #016090;
}
mps-text mps-code>mps-code {
	border-left: 5px solid #fff;
	border-radius: 3px;
	background: #ffffff26;
}
mps-code>ol *::selection {
	background: #004f8f !important;
}
mps-text mps-spoiler:not(.collapse)>mps-spoiler-header>span {
	opacity: .3;
}
mps-text mps-spoiler.collapse>mps-spoiler {
	border-top: 1px #009fcf solid;
}
mps-text mps-spoiler>mps-spoiler {
	margin: 5px 0 15px;
	box-shadow: inset 0 0 3px #0008;
}
mps-text mps-spoiler>mps-spoiler>div {
	padding: 10px;
}
mps-text mps-comment>mps-comment {
	position: relative;
}
mps-text mps-comment+mps-comment {
	margin-top: 2px;
}
mps-text mps-comment>mps-comment>div.gbuser {
	background: linear-gradient(#004f8f 0, #004f8f 1px, #003f7f 1px);
	background-size: 100% 2px;
	border-top: 1px solid #009fcf;
	padding: 2px 15px;
}
mps-text mps-comment>mps-comment div.gbuser>div.date {
	color: #30cfff;
}
mps-text mps-comment>mps-mess {
	padding: 10px 15px;
}
mps-text mps-comment>mps-ctrl {
	position: absolute;
	bottom: -22px;
	right: 0;
	padding: 0 15px;
	transition: bottom .5s;
}
mps-text mps-comment:hover>mps-ctrl {
	bottom: 0;
}
mps-text iframe.mps-music.yandex {
	background: #00000020;
}
mps-notice>div {
	line-height: 2em;
	font-size: 150%;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 1px #000;
	background-image: linear-gradient(transparent 60%, #1414dc80 60%),
		linear-gradient(90deg, #0000ff80 60%, #1414dc80 60%);
	background-color: #ddf;
	background-size: .2em .2em;
	border: 2px solid #00c;
}
mps-notice.err>div {
	background-image: linear-gradient(transparent 60%, #dc141480 60%),
		linear-gradient(90deg, #ff000080 60%, #dc141480 60%);
	background-color: #f00;
	color: #ff0;
	border-color: #800;
}

mps-form mps-bb-btn:not([data-func="smiles"]):not([data-func="color"]):not([data-bb="img"]):not([data-bb="flash"]):not([data-bb="youtube"])::after {
	filter: invert(1) saturate(3);
}
mps-form.moder table.compinfo tr:nth-child(odd) {
	background: #00000020;
}
mps-form mps-clps-btn {
	color: #f00;
}
mps-form mps-clps-btn::before {
	text-shadow: 0 1px 0 #f00;
}

mps-smiles {
}
mps-smiles div#smiles {
	border: 1px solid #009fcf;
	border-radius: 2px;
	margin: 1px 0;
}
mps-smiles div.menu a {
	font-weight: 700;
	color: #ffea99;
	line-height: 22px;
	border: 1px solid transparent;
	margin-right: 1px;
}
mps-smiles div.menu a:hover:not(.c) {
	color: #000;
	background: #a8bbce66;
}
mps-smiles div.menu a.c {
	color: #fff;
	background: #006f9f;
	border-color: #009fcf;
}
mps-smiles div.menu select {
	margin: 0;
}
mps-smiles div#smiles>img {
	border: 3px solid transparent;
}
mps-smiles div#smiles>img:active {
	background: #fc0;
}

mps-modal>div.compinfo {
	background: #fff;
	border: 2px solid #009fcf;
	padding: 10px;
	width: 550px;
	box-shadow: 2px 2px 15px 3px #000c;
}
mps-modal>div.compinfo a {
	color: #009fcf;
}

mps-text div.gbmess>mps-ctrl {
	border-top: 1px solid #009fcf;
	padding: 2px 15px;
}
mps-text mps-ctrl a {
	font: 400 13px/14px impact, Oswald, sans-serif;
	color: #dfeef5;
	margin: 0;
	border-radius: 6px;
	border: 1px solid #004080;
	background: linear-gradient(#007bbb 0%, #70cbf5 15%, #4fa6ce 50%, #70cbf5 85%, #007cbc 100%);
	box-shadow: inset 0 0 2px #0488;
	letter-spacing: .1em;
	text-shadow: -1px -1px 0 #0003, 0px 0px 0 #fff6;
}
mps-text mps-ctrl a+a {
	margin-left: 1px;
}
mps-text mps-ctrl a:active {
	background: linear-gradient(#007bbb 5%, #70cbf5 20%, #4fa6ce 55%, #70cbf5 90%, #007cbc 100%);
	box-shadow: none;
}
mps-ctrl a::after {
	text-transform: uppercase;
}
mps-colorpicker>clr-sw {
	color: #7a7f84;
}

@media (max-width: 1000px) {
	.app-mps {
		--body-padding: 35px 3vw;
		--info-padding: 5px 3vw 25px;
		--form-cell-padding: 0 3vw;
	}
}
@media (max-width: 900px) {
	.app-mps {
		--body-padding: 35px 0;
		--info-padding: 5px 5px 25px;
		--form-cell-padding: 0;
	}
	mps-smiles div.menu a {
		font-weight: 400;
	}
	mps-smiles div.menu a {
		line-height: 38px;
	}
}
@media (max-width: 550px) {
	mps-text div.gbmess {
		border-top: 1px solid #009fcf;
		border-left: none;
	}
}
